@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgray;
}

header {
    background-color: rgb(150, 150, 150)
}

header > h1 {
    text-align: center;
    padding: 10px;
}

span#burguer {
    background-color: rgb(44, 44, 44);
    display: block;
    text-align: center;
    color: white;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

span#burguer:hover {
    background-color: white;
    color: black;
    transition: background-color 0.2s, color 0.2s;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    text-align: center;
    border-top: 2px solid gray;
    text-decoration: none;
    color: white;
    background-color: rgb(90, 90, 90);
    padding: 10px;

}

menu > ul > li > a:hover {
    background-color: gray;
    transition: background-color 0.2s;
}

main {
    background-color: white;
    padding: 10px;
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 20px;
}
